{% extends 'base.html'%}

{% block heading %}
Channels
{% endblock %}

{% block content %}
    {% include "heading.html" %}
    {% load staticfiles%}
    <div id="main" class="col-sm-offset-3 col-sm-9">
<div class="card" id="quick-info">
            <div class="card-block">
              <h2>Почему Python</h2>
              <div class="quick-stats">
                <strong>Python можно охарактеризовать в нескольких словах следующим образом:
   многоплатформенный язык сценариев с динамической
   типизацией,встроенными структурами данных и поддержкой трех парадигм
   программирования-процедурной,объектной, функциональной.
     * Многоплатформенность и масштабируемость-работает на большинстве
       известных программно-аппаратных платформ от PDA до CRAY и IBM 390
     * Гармоничная архитектура языка:
          + Простой и удобный для понимания логики програм синтаксис
          + Встроенные структуры данных-списки, кортежи,словари
          + Огромное количество библиотек:
            -XML парсеры
            -GUI(Win32,GTK/GNOME,KDE/QT,TK,FOX,WXWindows)
            - Сетевые протоколы
            - Разработка Web приложений
          + Переносимость кода между различными платформами
          + Мощные интерфейсы к конкретным ОС(особенно к Linux/Unix и
            win32)
          + Поддержка разных стилей
            программирования-процедурного,объектного,функционального
          + Встроенная поддержка Unicode и множества национальных
            кодировок
            (включая 5 русских)
          + Возможность писать самодокументированные программы и
            автоматическая генерация документации на модули.</strong>
                <span></span>
              </div>

              </div>
          </div>
    </div>


{% endblock %}