{% extends 'base.html'%}

{% block heading %}
PKO
{% endblock %}

{% block content %}
    {% include "heading.html" %}
    {% load staticfiles%}

<div id="main" class="col-sm-offset-3 col-sm-9">

<div style="width: 100%; position: fixed; top: 9%; z-index:1" id="asd">
			<ul class="Navigation">
           		<li><a href="#">Онлайн</a>
                <ul>
				   <li><a href="#">Оффлайн</a></li>
                </ul>
                </li>
				<li><a href="#">Найден</a>
                <ul>
				   <li><a href="#">Не найден</a></li>
                </ul>
                </li>
            	<li><a href="#">Платно</a>
					<ul>
				   	<li><a href="#">Бесплатно</a></li>
					</ul>
			 	</li>
             	<li><a href="#">Год</a>
                    <ul>
				   		<li><a href="#">Квартал</a></li>
					</ul>
                </li>
             	<li><a href="#">Месяц</a>
                                    <ul>
				   		<li><a href="#">Неделя</a></li>
					                </ul>
                </li>
            </ul>
        </div>

    <div class="card" id="quick-info">
            <div class="card-block">
              <h2>Экспресс-статистика</h2>
              <div class="quick-stats">
                <strong>Выдано ПКО за неделю:</strong>
                <span>78</span>
              </div>
              <div class="quick-stats">
                <strong>Выдано ПКО за месяц:</strong>
                <span>459</span>
              </div>
              <div class="quick-stats">
                <strong>Выдано ПКО с начала года:</strong>
                <span>54k</span>
              </div>
              <div class="quick-stats">
                <strong>Изменение WoW %:</strong>
                <span>81.08%</span>
              </div>
              <div class="quick-stats">
                <strong>Изменение MoM %:</strong>
                <span>21%</span>
              </div>
              <div class="quick-stats">
                <strong>Изменение YoY %:</strong>
                <span>13.8%</span>
              </div>
            </div>
          </div>

    <div class="card" id="gauge-chart2">
    <div class="card-block">
              <h2>eGOV</h2>
             <script type="text/javascript">
  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
        type: 'hlineargauge',
        renderAt: 'chart-container5',
        width: '250',
        height: '150',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "manageresize": "1",
                "origw": "420",
                "origh": "90",
                "lowerlimit": "0",
                "upperlimit": "100",
                "numbersuffix": "%",
                "showborder": "0",
                "bgcolor": "FFFFFF",
                "ticksbelowgauge": "1",
                "valuepadding": "0",
                "gaugefillmix": "",
                "showgaugeborder": "0",
                "pointerontop": "0",
                "pointerradius": "5",
                "pointerbordercolor": "000000",
                "pointerbgcolor": "000000",
                "annrenderdelay": "0",
                "showshadow": "0",
                "minortmnumber": "0",
                "basefontcolor": "000000",
                "animation": "0"
            },
            "colorrange": {
                "color": [
                    {
                        "minvalue": "0",
                        "maxvalue": "100",
                        "alpha": "0"
                    }
                ]
            },
            "pointers": {
                "pointer": [
                    {
                        "value": "62"
                    }
                ]
            },
            "annotations": {
                "groups": [
                    {
                        "id": "Grp1",
                        "showbelow": "0",
                        "x": "$chartCenterX",
                        "y": "-765",
                        "items": [
                            {
                                "type": "circle",
                                "radius": "800",
                                "color": "FFFFFF"
                            }
                        ]
                    },
                    {
                        "id": "Grp2",
                        "showbelow": "1",
                        "items": [
                            {
                                "type": "rectangle",
                                "x": "$gaugeStartX",
                                "y": "$gaugeStartY",
                                "tox": "$gaugeEndX",
                                "toy": "$gaugeEndY",
                                "fillcolor": "678000,FCEF27,E00000"
                            }
                        ]
                    },
                    {
                        "id": "Grp3",
                        "showbelow": "0",
                        "items": [
                            {
                                "type": "text",
                                "x": "$gaugeStartX+25",
                                "y": "40",
                                "size": "10",
                                "color": "FFFFFF",
                                "bold": "1",
                                "label": "Good"
                            },
                            {
                                "type": "text",
                                "x": "$gaugeEndX-25",
                                "y": "40",
                                "size": "10",
                                "color": "FFFFFF",
                                "bold": "1",
                                "label": "Bad"
                            }
                        ]
                    }
                ]
            }
        }
    }
);
    fusioncharts.render();
});
</script>
        <div id="chart-container5">FusionMaps XT will load s map here!</div>
                </div>
                </div>

          <div class="card" id="regions_div">
            <div class="card-block">
                <h2>Региональная статистика</h2>
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Region');
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Value');

        data.addRows([
        ['KZ-AKM', 'Акмолинская область', 100],
        ['KZ-AKT', 'Актюбинская область', 105],
        ['KZ-ALA', 'Алматы', 110],
        ['KZ-ALM', 'Алматинская область', 115],
        ['KZ-AST', 'Астана', 120],
        ['KZ-ATY', 'Атырауская область', 125],
        ['KZ-VOS', 'Восточно-Казахстанская область', 130],
        ['KZ-ZHA', 'Жамбылская область', 140],
        ['KZ-KAR', 'Карагандинская область', 150],
        ['KZ-KUS', 'Костанайская область', 160],
        ['KZ-KZY', 'Кызылординская область', 175],
        ['KZ-MAN', 'Мангистауская область', 190],
        ['KZ-SEV', 'Северо-Казахстанская область', 215],
        ['KZ-PAV', 'Павлодарская область', 235],
        ['KZ-YUZ', 'Южно-Казахстанская область', 255],
        ['KZ-ZAP', 'Западно-Казахстанская область', 280]

        ]);

        var options = {
        displayMode: 'region',
        resolution: 'provinces',
        region:'KZ'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
                <div id="regions_div" style="width: 260px; height: auto;"> </div>
            </div>
          </div>

          <div class="card" id="combo-channels">
            <div class="card-block">
                  <h2>Динамика ПКО</h2>
                <div class="combo-area" style="min-width: 1050px; height: 380px; margin: 0 auto"></div>
            </div>
          </div>

          <div class="card" id="ration-stock">
            <div class="card-block">
              <h2>Сравнение</h2>
              <div class="ver-column" style="min-width: 320px; max-width: 400px; height: 400px; margin: 0 auto"></div>

              </div>
          </div>

{% comment %}          <div class="card" id="stacked-channels">
            <div class="card-block">
                  <h2>Источники Получения</h2>
                <div class="inverted-channels"></div>
            </div>
          </div>{% endcomment %}


{% comment %}          <div class="card" id="daily-usage">
            <div class="card-block">
              <h2>Daily usage</h2>
              <div class="area-chart"></div>
            </div>
          </div>{% endcomment %}

</div>



        // Combination-chart
    <script type="text/javascript">

    $('#combo-channels .combo-area').highcharts({
         title: {
        text: ''
    },
    xAxis: {
        categories: [{%for ina in period%}
                    '{{ina}}',

                    {%endfor%}]
    },
    labels: {
        items: [{
            html: '',
            style: {
                left: '30px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'Онлайн',
        data: [{%for ina in online%}
                    {{ina}},

                    {%endfor%}]
    }, {
        type: 'column',
        name: 'Оффлайн',
        data: [{%for ina in offline%}
                    {{ina}},

                    {%endfor%}]
    }, {
        type: 'spline',
        name: 'Average',
        data: [{%for ina in avg%}
                    {{ina}},

                    {%endfor%}],
        marker: {
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[3],
            fillColor: 'white'
        }
    }, {
        type: 'pie',
        name: 'Total consumption',
        data: [{
            name: 'Онлайн',
            y: {{ onlinesum }},
            color: Highcharts.getOptions().colors[0] // Jane's color
        }, {
            name: 'Оффлайн',
            y: {{ oflinesum }},
            color: Highcharts.getOptions().colors[1] // John's color
        }],
        center: [500, 50],
        size: 120,
        showInLegend: false,
        dataLabels: {
            enabled: false
        }
    }]
});

</script>



    {% endblock %}